body {
  font-size: 16px;
  color: #fff;
  background-color: #99CCCC;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #FFCCCC;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {    /*下拉菜单选项*/
  text-decoration: none;
}


#nav-list a {
  color: #000000;
  text-align: center;
}

#nav-list a:hover{
  background-color: #951C49;
  color: #ffffff;
}


.container h1{   /*Menu name*/
  color:#000;
}

.text-tile{     /*main contents*/
  height: 900px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  background-color: #FFCC99;
  overflow: hidden;
}

.text-tile a{   /*back to the top*/
  color: #99CCCC;
}
.text-tile a:hover{
  text-decoration: none;
}

/*#chicken{
height: 900px;
  overflow: hidden;
}

#beef{
  height: 900px;
  overflow: hidden;
}

#sushi{
  height: 900px;
  overflow: hidden;
}

#chicken{
  height: 900px;
  overflow: hidden;
}

#beef{
  height: 900px;
  overflow: hidden;
}

#sushi{
  height: 900px;
  overflow: hidden;
  }*/


/*把div的高度值给section，然后div自己高度值给100%，也就是父容器的高度*/




